<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>校内闲鱼管理系统</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dialogbox.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>

    <style type="text/css">
        .brand {
            font-family: georgia, serif;
        }
        .brand .first {
            color: #fff;
            font-style: italic;
            font-weight: bold;
        }
        .brand .second {
            color: #ccc;
        }
    </style>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <li id="fat-menu" class="dropdown" th:if="${loginUser} != null">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> <span th:text="${loginUser.username}"></span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">设置</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/user/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="/"><span class="first">校内闲鱼</span> <span class="second">管理系统</span></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>闲鱼数据管理</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a href="/">用户管理</a></li>
                    <li><a href="/category?parentId=0">商品类型管理</a></li>
                    <li><a href="/product">商品管理</a></li>
                    <li><a href="/college">学校管理</a></li>
                    <li><a href="/leave_word">留言管理</a></li>
                    <li><a href="/product_order">订单管理</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <h1 class="page-title">编辑类型信息</h1>
            <div class="btn-toolbar">
                <button class="btn btn-primary" id="btn_save"><i class="icon-save"></i> 保存</button>
                <a href="#myModal" data-toggle="modal" class="btn">删除</a>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">类型信息</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                            <label>父类型</label>
                        <select name="DropDownTimezone" id="parent_id" class="input-xlarge">
                            <option th:each="item:${categoryList}"   th:value="${item.id}" th:text="${item.name}"></option>
                        </select>
                            <label>类型名</label>
                            <input type="text"  id="name">
                            <label>状态</label>
                            <input type="text"   id="status">
                            <label>排序值</label>
                            <input type="text"   id="ordering">
                    </div>

                </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">删除用户</h3>
                </div>
                <div class="modal-body">

                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>确定要删除该类型吗?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn btn-danger" data-dismiss="modal" id="btn_delete">删除</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script th:src="@{/js/jquery-1.8.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dialogBox.js}"></script>

<script th:inline="javascript">
    $(function () {

        $('#btn_save').click(function () {
            var name=$('#name').val();
            var status=$('#status').val();
            var ordering=$('#ordering').val();
            var parentId=$('#parent_id').val();
            if (parentId==0) parentId = 1;
            $.ajax({
                url:'/category/save',
                type:'POST', //GET
                async:true,    //或false,是否异步
                data:{
                    name:name,
                    status:status,
                    ordering:ordering,
                    parentId:parentId
                },
                timeout:5000,    //超时时间
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data,textStatus,jqXHR){
                    window.location.reload();
                },
            })
        });
    })
</script>
</body>
</html>